.header {
  background-color: rgb(234, 160, 70); /* 背景をオレンジに */
  display: flex; /* フレックスボックスで配置 */
  justify-content: space-between; /* 左右に配置 */
  padding: 30px; /* 余白を追加 */
  font-weight: bold;      /* 太文字 */
}

.h1 {
  font-size: 40px;      /* 少し大きめ */
  font-weight: bold;      /* 太文字 */
}

.table-container {
  margin: 0 auto; /* 中央揃え */
  max-width: 800px; /* 最大幅を設定 */
}

.table {
  width: 100%;
  border-collapse: collapse; /* ボーダーを重ねて表示 */
}

.label_title, .label_date {
  padding: 15px; /* セル内の余白 */
  text-align: left; /* 左揃え */
  font-weight: bold; /* 太字 */
}

.td, .th {
  padding: 15px; /* セル内の余白 */
  border-bottom: 1px solid #ddd; /* セル下部のボーダー */
}

.th a {
  color: #007bff; /* リンクの色 */
  text-decoration: none; /* 下線を消す */
  font-size: 30px;
}

.th a:hover {
  text-decoration: underline; /* ホバー時の下線 */
}

